.iframe_head{
	position:absolute;
	width:1024px;
	height:150px;
	left:50%;
	margin-left:-512px;
	border:none;
}
.iframe_foot{
	position:absolute;
	width:1024px;
	height:132px;
	left:50%;
	margin-left:-512px;
	margin-top:620px;
	border:none;
}
.body{
	background:url(../images/reg_bg.gif) no-repeat;
	position:absolute;
	width:976px;
	height:770px;
	left:50%;
	margin-left:-488px;
	margin-top:135px;
}
.body_left{
	width:616px;
	height:485px;
	float:left;
}
.body_right{
	width:360px;
	height:485px;
	float:right;
}
.left_t1{
	position:relative;
	height:420px;
	width:550px;
	margin-left:54px;
	margin-top:52px;
}
#left_t1_font{
	font-size:13px;
}
.right_t1{
	position:absolute;
	margin-top:74px;
	margin-left:25px;
}
.textarea1{
	width:300px;
	height:240px;
	background-color:#FFF;
}
*{
	padding:0px;
	margin:0px;
}