.iframe_head{
	position:absolute;
	width:1024px;
	height:150px;
	left:50%;
	margin-left:-512px;
	border:none;
}
.iframe_foot{
	width:1024px;
	height:132px;
	border:none;
}
.iframe_center{
	width:772px;
	height:740px;
	border:none;
}
.body1{
	position:absolute;
	width:977px;
	height:800px;
	left:50%;
	margin-left:-488px;
	margin-top:140px;
}
#welcome{
	width:975px;
	height:20px;
	text-align:right;
}
#location{
	
	width:975px;
	height:20px;
	text-align:left;
	font-size: 15px;
}
.body_left1{
	float:left;
	width:200px;
	height:478px;
}
.body_left2{
	float:left;
	width:772px;
	height:740px;
}
.body_left_t1{
	width:200px;
	height:200px;
}
a{
	text-decoration: none;
	color: black;
}
*{
	padding: 0px;
	margin: 0px;
}